
@{
    ViewBag.Title = "About";
}
<div style="margin-top:60px; text-align:center">

    <h3>Who Are We?</h3>
    <hr />
</div>

<div class="col-md-6">
    <h4 style="text-align:center">Our Company</h4>
    <p style="text-align:center">
        Our Company "Electronix E-Commerce Pvt. Ltd" is the E-Commerce Company who used to provide services to the customers about the electronic products from the various brands with wide reachability and with superior quality and resonable amount as compared with other Companies that are engaged with Electronic E-Commerce.
    </p>
</div>

<div class="col-md-6" style="margin-bottom:30px">
    <h4 style="text-align:center">Team Management</h4>
    <p style="text-align:center">
        Our Company "Electronix E-Commerce Pvt. Ltd" mainly believes on 'Hardwork Beats Talent' such that we hire the staffs who have great inneciative of learning and work in accordance to the team. He/She can contribute a lot in the team rather than taking self credit. We thereby form the group of staffs according to the section they are interested on such as smartphone section, Television section etc under the supervision of the senior staffs.
    </p>
</div >


<div style="margin-bottom:150px" class="row">
    <div class="col-md-4">
        <img src="~/Image/about1.jpg" height="300" width="300" />
    </div>

    <div class="col-md-4">
        <img src="~/Image/about2.jpg" height="300" width="300" />
    </div>

    <div class="col-md-4">
        <img src="~/Image/about 3.jpg" height="300" width="300" />
    </div>
</div>


